@charset "utf-8";
/* CSS Document */

*, *:after, *:before{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@font-face{
	font-family: 'nexa-b';
	src: url('fonts/nb.otf');
}

@font-face{
	font-family: 'nexa-l';
	src: url('fonts/nl.otf');
}

/*@font-face{
	font-family: 'sertig';
	src: url('fonts/Sertig.otf');
}*/

html{
	overflow-x: hidden;
	height: 100%;
}

ul{
	list-style-type: none;
	text-decoration: none;
}

body{
		font-family: Roboto;
		background: url('images/blackorchid.png') repeat;
}

#payment{
	display: block;
	position: fixed;
	z-index: 5;
	bottom: -30px;
	right: 50px;
	transform: rotateZ(6deg);
	transition: bottom 0.3s;
}

#payment:hover{
	bottom: -10px;
}


.pages a{
    color: #FFE066;
    text-transform: none;
    display: inline;
    font-family: inherit;
}
.pages a:visited{
    color: #FFE066;
    text-transform: none;
    display: inline;
    font-family: inherit;
}
a{
	color: white;
text-decoration: none;
font-family: Roboto;
text-transform: uppercase;
z-index: 10;
	display: block;
}

a.notif-link{

}

#contribute{
	    position: fixed;
    top: 48px;
    right: 308px;
}

#contribute:hover{
	text-decoration: underline;
}

#scroll-down{
	    position: absolute;
    display: block;
    color: white;
    bottom: 5px;
    left: 49%;
		webkit-animation: up-down 0.8s infinite alternate;
	-moz-animation: up-down 0.8s infinite alternate;
	-o-animation: up-down 0.8s infinite alternate;
	animation: up-down 0.8s infinite alternate;
}

#alert{
	text-align: center;
	color: white;
	padding: 7px 0;
	background-color: red;
	position: fixed;
	top: -35px;
	width: 100vw;
}
#preload-cover{
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgb(30,30,30);
	color: white;
text-transform: uppercase;
}

#preload-cover center{
	top: 32vh;
position: relative;
}

#preload-cover #bitotsav{
	font-family: nexa-l;
}

#preload-cover img{
	padding-bottom: 2px;
}

#preload-cover #year{
	font-family: nexa-b;
	font-size: 2.2em;
}

#loading-bar{
	position: absolute;
	height: 1px;
	background-color: rgba(70,70,70,0.8);
	top: 70vh;
	transition: all 0.1s linear;
}

.forms .links{
	color: #0D233E;
	font-size: smaller;
	margin-top: 15px;

}

.links:hover{
	text-decoration: underline;
}

.links i{
	padding-right: 15px;
}

.logo{
	position: fixed;
	top: 35px;
	left: 23px;
	z-index: 10;
}

.revolve{
	perspective: 600px;
	-webkit-animation: revolve 10s infinite ease-in-out;
	-moz-animation: revolve 10s infinite ease-in-out;
	-o-animation: revolve 10s infinite ease-in-out;
	animation: revolve 10s infinite ease-in-out;
	transition: all 0.3s ease-out;
}
.master-list{
	width: 200vw;
}
.master-list>li{
	float: left;
}

.navigation{
	position: relative;
	height: 100vh;
	width: 0vw;
	top: 0;
	left: 0;
	display: block;
	transition: width 0.3s ease-out, top 0.5s linear;

}

.navigation:hover{
	width: 25vw;
}


.content{
	
	width: 100vw;
	left: 0;
	top: 0;
}

.nav{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url('images/blackorchid-purple.png') repeat;
	box-shadow: inset -2px -2px 8px 1px rgba(0,0,0,0.3);
	overflow: hidden;
}

.nav-links{
	position: relative;
width: 25vw;
height: 450px;
margin-top: 145px;
}

.nav-link{
	width: 91%;
height: 60px;
color: white;
padding-left: 29px;
padding-top: 20px;
font-family: Roboto;
font-weight: 400;

margin: 0 auto;
}

.nav-link:not(:last-child){
	border-bottom: 1px solid #483354;
}

.page-link, .contri-link{
	color: white;
text-transform: uppercase;
text-decoration: none;
}

.page-link i, .contri-link i{
	transition: 0.3s linear;
	font-size: 1.5em;
}

.page-link:hover i, .contri-link:hover i{
	color: #faaf16;
}

.page-link i.active{
	color: #faaf16;
}

.name-link{
font-size: 0.9em;
float: right;
padding-right: 30px;
letter-spacing: 1px;

}

.nav-link:nth-child(1) .name-link{
	-webkit-animation-delay: 0s;
	-moz-animation-delay: 0s;
	-o-animation-delay: 0s;
	animation-delay: 0s;
}
.nav-link:nth-child(2) .name-link{
	-webkit-animation-delay: .05s;
	-moz-animation-delay: .05s;
	-o-animation-delay: .05s;
	animation-delay: .05s;
}

.nav-link:nth-child(3) .name-link{
	-webkit-animation-delay: .1s;
	-moz-animation-delay: .1s;
	-o-animation-delay: .1s;
	animation-delay: .1s;
}

.nav-link:nth-child(4) .name-link{
	-webkit-animation-delay: .15s;
	-moz-animation-delay: .15s;
	-o-animation-delay: .15s;
	animation-delay: .15s;
}

.nav-link:nth-child(5) .name-link{
	-webkit-animation-delay: .2s;
	-moz-animation-delay: .2s;
	-o-animation-delay: .2s;
	animation-delay: .2s;
}

.nav-link:nth-child(6) .name-link{
	-webkit-animation-delay: .25s;
	-moz-animation-delay: .25s;
	-o-animation-delay: .25s;
	animation-delay: .25s;
}

.nav-link:nth-child(7) .name-link{
	-webkit-animation-delay: .3s;
	-moz-animation-delay: .3s;
	-o-animation-delay: .3s;
	animation-delay: .3s;
}




.container{
	width: 100%;
}

.pages{
	width: 100%;
	
}

.pages>li{
	width: 100%;
	height: 100%;
	margin: 0 0;
}

.page{
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.bg{
	
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	position: absolute;


}

.bg>li{
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
}

.bg-image{
	width: 100%;
}

.bg-image-fixed{
	width: 100%;
	z-index: -10;
	position: absolute;
}



.intro{
	color: white;
	position: absolute;
	text-transform: uppercase;
	width: 700px;
	margin-left: 25vw;
	margin-top: 15vh;
	letter-spacing: 2pt;
	font-size: 10pt;
	top: 0;
}

.sub{
	/*color: 
	#FFE066;*/
	font-size: 15pt;
}

.heading,.sub-heading,.desc{
	-webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}



.heading{
	font-size: 60pt;
	width:600px ;
	margin: 25px 0;
	letter-spacing: 20pt;
	color: white;
	text-transform: uppercase;
	font-family: nexa-b;
	}

.woman .heading{
	font-size: 38pt;
	letter-spacing: 10pt;
}


	.inside .heading{
		font-size: 40pt;
		letter-spacing: 5pt;
	}


	.sub-heading{
		font-family: nexa-l;
	font-size: 17pt;
margin: 10px 0;
letter-spacing: 2pt;
color: white;
text-transform: uppercase;
	}

	.dates{
font-family: nexa-b;
	}

	.bitot{
		font-size: 70pt;
		letter-spacing: 25pt;
		padding-top: 15px;
border-top: 11px solid white;
	}
.presents{
	text-transform: lowercase;
	letter-spacing: 2pt;
	font-weight: 300;
}

.date{
	font-family: nexa-b;
font-size: 20pt;
top: -10px;
	color: #FFE066;
}

.bit{
	font-size: 12pt;
	font-family: roboto;

}

.slant{
	font-style: italic;
}

.sav{
	top: -5px;
}

.year{
	font-size: 70pt;
		letter-spacing: 25pt;
	padding-bottom: 15px;
border-bottom: 11px solid;
}

.slides{
	width: 1000%;
	position: relative;
	height: 100%;
	cursor: -webkit-grab;
	cursor: -moz-grab;
}

.slides:active{
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
}

.slides li{
	position: relative;
	float: left;
	width: 100vw;
	height: 100%;
}

.slides li img{
	position: absolute;
	width: 100%;
	z-index: -1;
}

.title{
margin-top: 18vh;
margin-left: 40vw;
padding-top: 30px;
border-top: 10px solid white;
}


.desc{
	font-family: Roboto;
font-weight: 300;
letter-spacing: 1px;
font-size: 13pt;
color: #FFE066;
width: 300px;
position: absolute;
/* margin-top: -100px; */
top: 18vh;
left: 70px;
}


.controls{
	
	list-style-type: none;
	color: white;
	z-index: 5;
	
}

.slide-controls{
	width: 80px;
	position: absolute;
	top: 75vh;
	left: 55vw;
}

.audio-controls{
	width: 120px;
	position: fixed;
	top: 77vh;
	left: 14vw;
}

.current-song{
font-style: italic;
font-weight: 300;
position: fixed;
top: 80vh;
left: 15vw;
opacity: 0.5;
color: white;
font-size: 0.95em;
z-index: 5;
}
.controls>li{
	float: left;
	margin-left: 15px;
	opacity: 0.5;
}

.controls li{
	display: block;
	width: 25px;
	height: 25px;
	overflow: hidden;
	cursor: pointer;
	transition: all 0.2s linear;
}
.controls li:hover{
	opacity: 1;
}

.fade{
	transition: opacity 0.2s;
}

.left-right-padding.fade{
	-webkit-animation: left-right-padding 0.3s ease-out 1, fade 0.3s linear 1;
	-moz-animation: left-right-padding 0.3s ease-out 1, fade 0.3s linear 1;
	-o-animation: left-right-padding 0.3s ease-out 1, fade 0.3s linear 1;
	animation: left-right-padding 0.3s ease-out 1, fade 0.3s linear 1;
	opacity: 0;
}

.move-up.fade{
	-webkit-animation: move-up 0.8s ease-out 1, fade 0.8s linear 1;
	-moz-animation: move-up 0.8s ease-out 1, fade 0.8s linear 1;
	-o-animation: move-up 0.8s ease-out 1, fade 0.8s linear 1;
	animation: move-up 0.8s ease-out 1, fade 0.8s linear 1;
	opacity: 0;
}

.move-right.fade-half{
	-webkit-animation: move-right 0.8s ease-out 1, fade-half 0.8s linear 1;
	-moz-animation: move-right 0.8s ease-out 1, fade-half 0.8s linear 1;
	-o-animation: move-right 0.8s ease-out 1, fade-half 0.8s linear 1;
	animation: move-right 0.8s ease-out 1, fade-half 0.8s linear 1;
	opacity: 0.5;
}

.move-right.fade{
	-webkit-animation: move-right 0.8s ease-out 1, fade 0.8s linear 1;
	-moz-animation: move-right 0.8s ease-out 1, fade 0.8s linear 1;
	-o-animation: move-right 0.8s ease-out 1, fade 0.8s linear 1;
	animation: move-right 0.8s ease-out 1, fade 0.8s linear 1;
	opacity: 0;
}

.current-song{
	opacity: 0.5;
}

button{
	position: relative;
padding: 12px 35px;
outline: none;
background: none;
border: 2px solid white;
color: white;
text-transform: uppercase;
transition: all 0.2s linear;
font-family: Roboto;
cursor: pointer;
z-index: 10;
overflow: hidden;
}

button>i{
left: -40%;
position: absolute;
transition: all 0.2s linear;
}

button span{
	display:block;
	transition: all 0.2s linear;
}
button:hover i{
	left: 10%;
}

button:hover span{
	transform:translateX(15px);
}

button#submit{
	color: #1A4477;
	border-color: #1A4477;
}



.register{
position: fixed;
top: 35px;
right: 52px;
}

#reg_comp{
	position: fixed;
	top:12px;
	right: 270px;
}
#login{
	position: fixed;
top: 85px;
right: 90px;
font-size: smaller;
}



#submit{
	display: block;
	margin: 40px auto;
}

.forms{
	position:fixed;
	top:0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #EFEFEF;
	z-index: 999;
	display: none;
	overflow-y: auto;
	overflow-x: hidden; 
	color: #0D233E;
}

form{
	position: relative;
	width: 50vw;
	margin: 75px auto;
}


input{
	width: 100%;
padding: 10px;
font-size: 16pt;
font-family: Roboto;
background: transparent;
border: none;
border: 2px solid #1A4477;
/*border-bottom: 3px solid #1A4477;*/
	color: #0D233E;
transition: all 0.2s linear;
}

input[type=radio]
{
	width: 10%;
display: inline-block;
margin-left: 115px;
}


input[type=radio]+span
{
font-size: 16pt;
font-family: Roboto;
color: #1A4477;
}

.input-wrapper{
	position:relative;
	width: 100%;
	margin-top: 45px;
}

input:focus{
	outline: none;
border-color:#0D233E;
}

label{
	display: block;
	color: #1A4477;
font-family: Roboto;
width: 100%;
position: absolute;
font-size: 11pt;
top: 32%;
transition: all 0.2s linear;
padding-left: 20px;
pointer-events: none;
}

.form-head{
	color: #1A4477;
	text-transform: uppercase;
	font-family: nexa-b;
	text-align: center;
	margin-top: 20px;
	font-size: larger;
}

.fa-close{
	position: fixed;
	top: 30px;
	right: 30px;
	color: #1A4477;
	cursor: pointer;
}

.fa-close:hover{
	color: #0D233E;
}

#cat{
	position: relative;
	margin-left: 40vw;
	margin-top: 20px;
	width: 225px;
}

#cat button{
	width: 100%;
}

.event-cat{
	width: 210%;
	color: white;
	list-style: none;
	margin-top: 15px;
	/*display: none;*/
	transition: all 0.2s linear;
}

#event-major .event-cat{
	width: 100%;
margin-left: 20px;
margin-bottom: 30px;
overflow: hidden;
}

.visible{
	display: block;
}

#event-major .category{
	position: relative;
top: 0px;
left: 78px;
padding: 12px 138px;
}

.event-cat li{
	float: left;
	width: 47%;
	padding: 12px 35px;
	color: white;
	border: 2px solid white;
	margin-top: 3px;
	margin-right: 5px;
	cursor: pointer;
	display: block;
		transition: all 0.2s linear;
		border-radius: 30px;
}

.event-cat li:last-child{
	margin-bottom: 30px;
}

.event-cat li:hover{
	color: #FFE066;
	border-color: #FFE066;
}

.details-box{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
		background: rgba(31,19,38,0.8);
		z-index: 100;
		padding: 50px;
		overflow-y: auto;
		color: #FFE066;
		display: none;
}

.details-box h1,h2{
	margin: 15px 0;
	color: #FFE066;
	text-transform: uppercase;
}

.details-box p{
	color:white;
	width: 80vw;
}

.details-box ol{
	width: 80vw;
	position: relative;
	display: inline-block;
	color: white;
}

.details-box li{
	width: 100%;
}

.details-box button{
	margin: 90px 135px;
	display: inline-block;
}

.details-pdf{
	display: inline-block;
}

.details-box .fa-close{
	position: absolute;
	top: 30px;
	right: 150px;
	color: #FFE066;
}
.details-box .fa-close:hover{
	color: white;
}

#event-wrapper{
	list-style-type: none;
	position: relative;
	width: 100%;
	height: 80%;
	top: 7%;
	color: white;
}

#event-desc{
	width: 51%;
	overflow-y: auto;
}

#event-list{
	width: 40%;
}

.event-wrap{
	float: left;
	height: 100%;
	
	padding: 50px 0;
}

.event-head{
	font-family: nexa-b;
	letter-spacing: 2px;
	text-align: center;
	color: white;
	text-transform: uppercase;
	font-size: 1.3em;
}

#genre-events{
	list-style-type: none;
position: relative;
width: 80%;
height: 400px;
margin: 26px auto;
overflow: auto;
}

#genre-events>li{
	width: 100%;
padding: 6px 35px;
color: #FFF;
border: 2px solid #FFF;
margin-top: 6px;
cursor: pointer;
display: block;
border-radius: 30px;
transition: all 0.2s linear 0s;
height: 40px;
}

#genre-events>li:last-child
{
	margin-bottom: 50px;
}

#genre-events>li:hover{
	color: #FFE066;
	border-color: #FFE066;
}

#genre-event-desc{
	width: 80%;
	margin: 20px auto;
	overflow: hidden;

}

.genre-event-register{
	margin: 40px auto;
}
#contact-them{
	position: relative;
	width: 50%;
	margin: 150px auto;
	list-style-type: none;
	color: #bbb;
}

#contact-them>li
{

}


#contact-them>li>div{
	display: inline-block;
}

.contact-img{
width: 150px;
height: 150px;
overflow: hidden;
border-radius: 50%;
margin-right: 50px;
}

.contact-details{
	height: 150px;
position: relative;
top: -30px;
font-size: 1.1em;
}

#position{
	margin-bottom: 10px;
	border-bottom: 1px solid #fff;
}

#arvind{
	background:url(images/contact/arvind.jpg) no-repeat center center;
}

#ankur{
	background:url(images/contact/ankur.jpg) no-repeat center center;
}
.sub-heading.anim{
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	animation-delay: 0.5s;
	-webkit-animation-speed: 0.2s;
	-moz-animation-speed: 0.2s;
	-o-animation-speed: 0.2s;
	animation-speed: 0.2s;

}

@-webkit-keyframes revolve{
	from{transform: rotateY(0deg);}
	to{transform: rotateY(360deg);}
}
@-moz-keyframes revolve{
	from{transform: rotateY(0deg);}
	to{transform: rotateY(360deg);}
}

@-o-keyframes revolve{
	from{transform: rotateY(0deg);}
	to{transform: rotateY(360deg);}
}

@keyframes revolve{
	from{transform: rotateY(0deg);}
	to{transform: rotateY(360deg);}
}


@-webkit-keyframes fade{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@-moz-keyframes fade{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@-o-keyframes fade{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@keyframes fade{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

@-webkit-keyframes up-down{
	from{
		bottom: 18px;
	}
	to{
		bottom: 0px;
	}
}
@-moz-keyframes up-down{
	from{
		bottom: 18px;
	}
	to{
		bottom: 0px;
	}
}
@-o-keyframes up-down{
	from{
		bottom: 18px;
	}
	to{
		bottom: 0px;
	}
}
@keyframes up-down{
	from{
		bottom: 18px;
	}
	to{
		bottom: 0px;
	}
}

@-webkit-keyframes fade-half{
	from{
		opacity: 0;
	}
	to{
		opacity: 0.5;
	}
}
@-moz-keyframes fade-half{
	from{
		opacity: 0;
	}
	to{
		opacity: 0.5;
	}
}
@-o-keyframes fade-half{
	from{
		opacity: 0;
	}
	to{
		opacity: 0.5;
	}
}
@keyframes fade-half{
	from{
		opacity: 0;
	}
	to{
		opacity: 0.5;
	}
}

@-webkit-keyframes left-right-padding{
	from{
		padding-right: 80px;
	}
	to{
		padding-right: 30px;
	}
}
@-moz-keyframes left-right-padding{
	from{
		padding-right: 80px;
	}
	to{
		padding-right: 30px;
	}
}
@-o-keyframes left-right-padding{
	from{
		padding-right: 80px;
	}
	to{
		padding-right: 30px;
	}
}
@keyframes left-right-padding{
	from{
		padding-right: 80px;
	}
	to{
		padding-right: 30px;
	}
}

@-webkit-keyframes move-up{
	from{
		transform: translateY(30px);
	}
	to{
		transform: translateY(0px);
	}
}
@-moz-keyframes move-up{
	from{
		transform: translateY(30px);
	}
	to{
		transform: translateY(0px);
	}
}
@-o-keyframes move-up{
	from{
		transform: translateY(30px);
	}
	to{
		transform: translateY(0px);
	}
}
@keyframes move-up{
	from{
		transform: translateY(30px);
	}
	to{
		transform: translateY(0px);
	}
}

@-webkit-keyframes move-right{
	from{
		transform: translateX(-30px);
	}
	to{
		transform: translateX(0px);
	}
}
@-moz-keyframes move-right{
	from{
		transform: translateX(-30px);
	}
	to{
		transform: translateX(0px);
	}
}
@-o-keyframes move-right{
	from{
		transform: translateX(-30px);
	}
	to{
		transform: translateX(0px);
	}
}
@keyframes move-right{
	from{
		transform: translateX(-30px);
	}
	to{
		transform: translateX(0px);
	}
}


/* ::-webkit-scrollbar
 {
	width: 10px;
 }
::-webkit-scrollbar-track{
		background: rgba(255,255,255,0.2);
}
 ::-webkit-scrollbar-thumb{

		background: #fff;
	border-radius: 8px;
 }
*/


 .side-buttons{
 position: fixed;
color: #FFF;
right: 20px;
opacity: 0.8;
z-index: 100;
 }

 #notif-button{
top: 41%;
}

#forum-button{
	top: 50%;
}

.side-box{
	position: fixed;
	height: 100vh;
	top:0;
	background: #212121;
	z-index: 2000;
	overflow-y: auto;
}

#notifications{
	width: 350px;
	right: -350px;
}

#forum{
	width: 500px;
	right:-500px;
}

.side-head{
	text-transform: uppercase;
color: rgb(182, 182, 182);
text-align: center;
margin: 20px auto;
padding: 10px;
border: 2px solid;
width: 75%;
}

#notifs{
	width: 100%;
	padding: 20px;
	list-style-type: none;
	color: rgb(182, 182, 182);

}

#notifs > li{
	margin-bottom: 10px;
padding-bottom: 10px;
border-bottom: 1px solid rgb(65, 65, 65);
}

#forum-input{
	width: 100%;
height: 100px;
background: #111;
bottom: 0px;
position: absolute;
color: #FFF;
font-family: Roboto;
padding: 10px;
box-shadow: 0px -5px 11px rgba(0,0,0,0.7);
}

#forum-msgs{
		width: 100%;
	padding: 20px;
	list-style-type: none;
	position: absolute;
	bottom: 110px;
}

#forum-msgs > li{
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #313131;
    overflow-x: hidden;
    word-wrap: break-word;
}

#forum-msgs .user{
	color: rgb(182, 182, 182);
}

#forum-msgs .admin{
color: #FFE066; 
}

.forum-time, .notif-time{
	    font-style: italic;
    color: #515151;
}

.forum-user{
	font-style: italic;
}

